@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	--color-accent-200: #e5c0a7;
	--color-accent-600: #a15500;
	--color-accent-900: #4e2600;
	--color-accent-950: #371c05;
	--color-gray-100: #f8f6f4;
	--color-gray-200: #f2ece9;
	--color-gray-300: #c7c0bd;
	--color-gray-400: #958982;
	--color-gray-500: #61554f;
	--color-gray-700: #403630;
	--color-gray-800: #2e241f;
	--color-gray-900: #1c1715;
}
